<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472086417836-6eebfia84as1t7tunmfl146o7sh75sn2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472086417836-6eebfia84as1t7tunmfl146o7sh75sn2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>472086417836-7mg66u5mn2m85daffcef7jvv731o58v0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSEeHgZS5DRsjSiaHLm5Sn9_Tfds_kPpI</string>
	<key>GCM_SENDER_ID</key>
	<string>472086417836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.udemyFlutterr</string>
	<key>PROJECT_ID</key>
	<string>udemyflutter22</string>
	<key>STORAGE_BUCKET</key>
	<string>udemyflutter22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472086417836:ios:57401b29f0750bef256a09</string>
</dict>
</plist>